@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: #fff;
    color: #0a0a0a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family), sans-serif;
}

:root {
    --font-family: 'Figtree', sans-serif;
    --primary-color: #348F6C; 
    --secondary-color: #f3f4f6; 
    --accent-color: #10b981; 
    --text-color: #1f2937; 
    --card-bg: #ffffff;
    --header-height: 60px;
    --sidebar-width: 250px;
}


body {
    background-color: var(--secondary-color);
    color: var(--text-color);
}
